<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Ubuntu CMD</title>
<style>
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(
        -45deg,
        #ff0080,
        #7928ca,
        #2afadf,
        #00ff99
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#terminal {
    height: 100vh;
}
</style>
</head>
<body>
</body>
</html>
